<div class="event-wrapper">
    <mat-icon class="event-icon">today</mat-icon>
    <div class="text-container">
        <span class="small">See all our events!</span>
    </div>
    
</div>
<div class="container">   
    <div class="text-container">
        <p class="main">Welcome to Perth's <b>First</b> Korean Photobooth!</p>
        <p>Westfield Booragoon - Don't Miss it</p>
        <a routerLink="/our-store" routerLinkActive="active" class="shop-link">Check out our opening week deals</a>
    </div>
    <div class="image-container">
        <img src="/assets/media/photobooth.png">
        <div class="photo-rectangle">
        
        </div>
    </div>
    
</div>

