.container {
    display: flex;
    /* grid-template-columns: 2fr 1fr; 2 parts for the text, 1 part for the image */
    flex-direction: row;
    gap:50px;
    /* justify-content: space-between; */
}

@keyframes slideDown {
    from {
        transform: translateY(-400px); /* Start above the viewport */
    }
    to {
        transform: translateY(0px); /* End at the top of the viewport */
    }
}

@keyframes scaleUp {
    from {
        scale: 0em;
    }
    to {
        font-size: 1em; 
    }
}

@keyframes slideRight {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-900px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes shake {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    25% {
        transform: scale(1.1) rotate(5deg);
    }
    75% {
        transform: scale(1.1) rotate(-5deg);
    }
    100% {
        transform: scale(1.1) rotate(0deg);
    }

}

.event-wrapper {
    display: inline-flex;
    align-items: center;
    margin: 0 0 -30px 10vw;
    transition: transform 0.3s ease-in-out; 

}

.event-wrapper .event-icon {
    animation: scaleUp 0.6s ease-in-out;
}

.event-wrapper:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}

.event-wrapper:hover .event-icon{
    transform: scale(1.1);
    animation: shake 0.4s infinite;
    animation-delay: 0.2s;
    transition: transform 0.2s ease-in-out; 
}

.text-container p.main {
    animation: slideLeft 0.6s cubic-bezier(.2,.9,.53,.98);
}

.text-container p {
    animation: slideLeft 0.7s cubic-bezier(0.52,0,.45,.98);
    /* animation-delay: 0.3s; */
}



.event-icon {
    display:block;
    color: #3b3365;
    font-size: 2em;
    height:35px;
    width: 35px;
    transform: scale(1);
}

.image-container .photo-rectangle {
    z-index: -1;
    /* right: 3rem; */
    /* top: 0px; */
    border-radius: 9px;
    position: absolute;
    background-color: #f3f3f3;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.455);
    animation: slideDown 0.6s cubic-bezier(.2,.9,.53,.98);
    transition: transform 300ms ease-in-out;
}

.image-container {
    position:relative;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-3deg);
    margin: -20px auto 0 auto;
    
}

.image-container:hover {
    transform: scale(1.1) rotate(-3deg);
}


.image-container img {

    /* margin: 0px 20px; */
    animation: slideRight 0.6s cubic-bezier(.2,.9,.53,.98);
    
}


a.shop-link {
    display: inline-block;
    padding: 7px 15px 4px 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    animation: slideLeft 0.8s cubic-bezier(0.8,0,.37,.98);
    /* animation-delay: 0.6s; */
}

a.shop-link:hover{
    background-color: rgba(0,0,0,0.7);
    font-size: 1.1em;
    z-index: 1;
    
}

@media only screen and (max-width: 1250px) {
    

}

@keyframes scaleUp {

}

@media only screen and (max-width: 710px) {

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .image-container {
        margin: 20px auto 0 auto;
        /* align-items: center; */
    }


    

}