.frame-line {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width:100%;
    /* justify-content: space-between; */
    /* margin: 50px 0; */
    height: 180px;
    /* background: white; */
}


.group {
    display: flex;
    flex-direction: column;
    /* height: 300px; */

}

.text-container {
    /* width: 100%; */
    /* background-color: red; */
}

.container {

    gap: 200px;
}


.frame-line img{
    transition: all 0.3s ease-in-out;
}

.frame-line img:hover {
    transform: scale(1.1);
}

.frame-line img.portrait{
    height: 100%;
    object-fit: contain;
   
}

.frame-line img.landscape{
    width: 180px;
    object-fit: contain;
    /* aspect-ratio: auto; */
    /* height: auto; */
}