<div class="container">
    <div class="group one">
        <div class="text-container">
            <p>Choose <b>ANY</b> frame for only <b>$10</b>!</p>
        </div>
        <div class="frame-line">
            <img class='portrait' src="/assets/media/frame_prices/8.png">
            <img class='portrait' src="/assets/media/frame_prices/6.png">
            <img class='portrait' src="/assets/media/frame_prices/4.png">
            <img class='landscape' src="/assets/media/frame_prices/3.png">
            <img class='landscape' src="/assets/media/frame_prices/2.png">
        </div>
    </div>

    <div class="group two">
        <div class="text-container">
            <p>Decorate your frame with stickers for FREE</p>
        </div>
    </div>
    <div class="group three">
        <div class="text-container">
            <p>Add a K-Pop album to go with that memory</p>
            <p class="small">Want to see our full collection? Online store coming soon!</p>
        </div>
            
    </div>
</div>