<div class="container">
    <div class="text-container">
        <p>Choose how you want to line your shots</p>
    <div>
    <div class="frame-line">
        <img class='portrait' src="/assets/media/frame_prices/8.png">
        <img class='portrait' src="/assets/media/frame_prices/6.png">
        <img class='portrait' src="/assets/media/frame_prices/4.png">
        <img class='landscape' src="/assets/media/frame_prices/3.png">
        <img class='landscape' src="/assets/media/frame_prices/2.png">
    </div>
    <div class="text-container">
        <p>Choose your custom frame</p>
    </div>
        -pic of all custom frames with FREE-
    <div class="text-container">
        <p>Add a KPop album to go with that memory</p>
    </div>
        -KPOP album list with some of the stuff we have-
</div>