<div class="container">
    <div class="text-container">
        <p><b>What is a Korean Photobooth?</b></p>
        <p class="small">It is a self-service photo studio which originated in Korea where you can take high-quality, 
            aesthetic photos with friends or by yourself. With options to take your photos with 
            different costumes, backdrops, filters and effects, we hope you can take the perfect photo,
            capturing the little memory of the moment!
        </p>
        <p><b>What does PicCho mean?</b></p>
        <p class="small">Picture > Pic'Cho. Take a PicCho with us ;)</p>
        <p><b>Are you the only Korean Photobooth in Perth?</b></p>
        <p class="small">Yes! We were a bit let down that there were none in Perth at the moment, so we opened one ourselves!</p>
        <p><b>Are you open for collaboration?</b></p>
        <p class="small">Yes! Whether you are a K-Pop group, university club, store, or anyone else, we would love to hear
            what you want to do! Contact us at <a href="mailto:picchobooths@gmail.com">PicChoBooths@gmail.com</a>
        </p>
        
    </div>
</div>