<div class="container">
    <div class="social-line">
        <a href="https://www.facebook.com/profile.php?id=61557477207912" target="_blank">
            <img class="social" src="/assets/media/facebook.png">
        </a>
        <a href="https://www.instagram.com/piccho.co/" target="_blank">
            <img class="social" src="/assets/media/instagram.png">
        </a>
        <a href="https://www.tiktok.com/@piccho01" target="_blank">
            <img class="social" src="/assets/media/tiktok.png">
        </a>
        <a href="mailto:picchobooths@gmail.com" target="_blank">
            <img class="social" src="/assets/media/email.png">
        </a>
    </div>
</div>