<div class="container">
    <div class="social-line">
        <a href="https://www.facebook.com/profile.php?id=61557477207912">
            <img class="social" src="/assets/media/facebook.png">
        </a>
        <a href="https://www.instagram.com/piccho.co/">
            <img class="social" src="/assets/media/instagram.png">
        </a>
        <a href="https://www.tiktok.com/@piccho01">
            <img class="social" src="/assets/media/tiktok.png">
        </a>
        <a href="mailto:picchobooths@gmail.com">
            <img class="social" src="/assets/media/email.png">
        </a>
    </div>
</div>