<div class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <div id="slide-1">
                <img src="/assets/media/guide/1.png">
                <div class="text-container">
                    <p>step1</p>
                </div>
                
            </div>
            
            <div id="slide-2">
                <img src="/assets/media/guide/2.png">
                <div class="text-container">
                    <p>step2</p>
                </div>
            </div>

            <div id="slide-3">
                <img src="/assets/media/guide/3.png">
                <div class="text-container">
                    <p>step3</p>
                </div>
            </div>
            
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>
    </div>
    
</div>