<div class="container">
    <div class="top">
    <div class="nav-wrapper" (click)="prevItem()">
        <mat-icon class="nav-button left">chevron_left</mat-icon>
    </div>
    <div class="slider-wrapper">
        <div class="slider">
            <div id="slide-1">
                <img src="/assets/media/guide/1.png">
                <div class="text-container">
                    <p>Press the 'Selfie' Button</p>
                </div>
                
            </div>
            
            <div id="slide-2">
                <img src="/assets/media/guide/2.png">
                <div class="text-container">
                    <p>Select which type of cut you would like</p>
                </div>
            </div>

            <div id="slide-3">
                <img src="/assets/media/guide/3.png">
                <div class="text-container">
                    <p>Choose your form of payment (staff will provide a discount code when using a valid voucher)</p>
                </div>
            </div>

            <div id="slide-4">
                <img src="/assets/media/guide/3.png">
                <div class="text-container">
                    <p>Take your photos! Look into the camera and be wary of the countdown</p>
                </div>
            </div>

            <div id="slide-5">
                <img src="/assets/media/guide/3.png">
                <div class="text-container">
                    <p>Choose your frame art style</p>
                </div>
            </div>

            <div id="slide-6">
                <img src="/assets/media/guide/3.png">
                <div class="text-container">
                    <p>Decorate your frame with stickers</p>
                </div>
            </div>

            <div id="slide-7">
                <img src="/assets/media/guide/3.png">
                <div class="text-container">
                    <p>The machine will now print your photos - enjoy! Scan the QR code to save your photos/videos digitally</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="nav-wrapper" (click)="nextItem()">
        <mat-icon class="nav-button right">chevron_right</mat-icon>
    </div>
    </div>
    <div class="slider-nav">
        <a class="button-1" href="#slide-1" (click)="changeItem(1)"></a>
        <a class="button-2" href="#slide-2" (click)="changeItem(2)"></a>
        <a class="button-3" href="#slide-3" (click)="changeItem(3)"></a>
        <a class="button-4" href="#slide-4" (click)="changeItem(4)"></a>
        <a class="button-5" href="#slide-5" (click)="changeItem(5)"></a>
        <a class="button-6" href="#slide-6" (click)="changeItem(6)"></a>
        <a class="button-7" href="#slide-7" (click)="changeItem(7)"></a>
    </div>

   
</div>