<div class="container">
    <div class="top">
    <div class="nav-wrapper" (click)="prevItem()">
        <mat-icon class="nav-button left">chevron_left</mat-icon>
    </div>
    <div class="slider-wrapper">
        <div class="slider">
            <div id="slide-1">
                <img src="/assets/media/guide/1.png">
                <div class="text-container">
                    <p>step1</p>
                </div>
                
            </div>
            
            <div id="slide-2">
                <img src="/assets/media/guide/2.png">
                <div class="text-container">
                    <p>step2</p>
                </div>
            </div>

            <div id="slide-3">
                <img src="/assets/media/guide/3.png">
                <div class="text-container">
                    <p>step3</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="nav-wrapper" (click)="nextItem()">
        <mat-icon class="nav-button right">chevron_right</mat-icon>
    </div>
    </div>
    <div class="slider-nav">
        <a class="button-1" href="#slide-1" (click)="changeItem(1)"></a>
        <a class="button-2" href="#slide-2" (click)="changeItem(2)"></a>
        <a class="button-3" href="#slide-3" (click)="changeItem(3)"></a>
    </div>

   
</div>