.times {
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* .booragoon {
    height: 200px;
    width: auto;
    object-fit: contain;
} */



.text-container .subtitle {
    margin-top: -30px;
}


.text-container {
    color: #3b3365;
}

.text-container .main {
    font-size: 1.3em;
}

.container {
    align-items: center;
}

.container {
    align-items: center;
    justify-content: center;
}

.image-container {
    transform: rotate(-3deg);
    right:0;
    left:0;
    margin: -30px auto 0 auto;
    min-height:420px;
    max-height:420px;
    min-width: 350px;
    max-width: 350px;

}


@keyframes slideDown {
    from {
        transform: translateY(-400px); /* Start above the viewport */
    }
    to {
        transform: translateY(0px); /* End at the top of the viewport */
    }
}

@keyframes slideRight {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
    }
}

.times {
    text-align: center;
    height: 200px;

    margin: 30px auto 0 auto;
}

.image-container:hover {
    transform: scale(1.1) rotate(-3deg);
    cursor: pointer;
}

.image-container .photo-rectangle {
    animation: slideDown 0.6s cubic-bezier(.2,.9,.53,.98);
}

.image-container img {
    animation: slideRight 0.6s cubic-bezier(.2,.9,.53,.98);
}

.image-container .text-container {
    animation: slideRight 0.6s cubic-bezier(.2,.9,.53,.98);
}

@media only screen and (max-width: 1250px) {
    .image-container {
        min-height:350px;
        max-height:350px;
        min-width: 320px;
        max-width: 320px;
    
    }
}

@media only screen and (max-width: 710px) {

    .times .small {
        font-size:0.8em;
    }

    .main-location {
        font-size: 1.1em;
    }

    .text-container p.main {
        font-size: 1.5em;
    }

    .image-container {
        margin: 30px auto 0 auto;
    }

    .image-container {
        min-height:320px;
        max-height:320px;
        min-width: 285px;
        max-width: 285px;
    
    }

    
  


    

}
