.times {
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.booragoon {
    height: 200px;
    width: auto;
    object-fit: contain;
}

.location-head {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.text-container .subtitle {
    margin: -30px 0 50px 0;
}

.text-container a {
    border-radius: 7px;
    color: black;
    padding: 10px 5px;
    transition: all 0.3s ease;
}

.text-container .main a:hover {
    color: #FFFFFF;
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.3);
}

.text-container a:hover {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 710px) {

    .times .small {
        font-size:0.8em;
    }

    .main-location {
        font-size: 1.1em;
    }

    .text-container p.main {
        font-size: 1.5em;
    }

    .booragoon {
        height: 150px;
        width: auto;
        left: 0;
        object-fit: contain;
    }
    
    .location-head {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .location-head-text {
        text-align: center;
    }

    

}
