<div class="container">
    <div class="text-container">
        <p class="main">Find us at <b><a href="https://www.google.com/maps/place/Westfield+Booragoon/@-32.0339457,115.8334541,17z/data=!3m1!4b1!4m6!3m5!1s0x2a32a33b583f749b:0xf04f0b618f27540!8m2!3d-32.0339503!4d115.836029!16zL20vMGMxY2Y3?entry=ttu" target="_blank">
            Westfield Booragoon</a></b></p>
        <p class="subtitle"><i><a href="https://www.google.com/maps/place/Westfield+Booragoon/@-32.0339457,115.8334541,17z/data=!3m1!4b1!4m6!3m5!1s0x2a32a33b583f749b:0xf04f0b618f27540!8m2!3d-32.0339503!4d115.836029!16zL20vMGMxY2Y3?entry=ttu" target="_blank">
            125-133 Riseley Street</a></i></p>
        <div class="times">
            <p class="small">Monday 10am-5:30pm</p>
            <p class="small">Tuesday 10am-5:30pm</p>
            <p class="small">Wednesday 10am-5:30pm</p>
            <p class="small">Thursday 10am-9pm</p>
            <p class="small">Friday 10am-5:30pm</p>
            <p class="small">Saturday 10am-5:30pm</p>
            <p class="small">Sunday 11am-5pm</p>
        </div>
        
    </div>
</div>