<!-- <h1>PicCho Pty Ltd</h1> -->
<video muted autoplay loop playsInline webkit-playsinline id="background">
  <source src="/assets/media/background.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="header">
  <img src="/assets/media/logo-horizontal.png">
  <nav>
    <ul>
      <a routerLink="/home" routerLinkActive="active" class="importantHeader">Home</a>
      <a routerLink="/how-to-use" routerLinkActive="active" class="importantHeader">Booth Guide</a>
      <a routerLink="/our-store" routerLinkActive="active" class="importantHeader">Products</a>
      <a routerLink="/location-times" routerLinkActive="active" class="collapseShrink">Stores</a>
      <a routerLink="/contact" routerLinkActive="active" class="collapseShrink">Socials</a>
      <a routerLink="/about" routerLinkActive="active" class="collapseShrink">FAQ</a>
    </ul>
  </nav>
  <mat-icon class="menu" (click)="toggleMenu()" class="menu">menu</mat-icon>
  
</div>
<div class="click-background" (click)="toggleMenu()" *ngIf="isMenuOpen" @fadeInOut></div>
<ul class="menu-item" [@slideAnimation] = "menuState">
  <a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a>
  <a routerLink="/how-to-use" routerLinkActive="active" (click)="toggleMenu()">Booth Guide</a>
  <a routerLink="/our-store" routerLinkActive="active" (click)="toggleMenu()">Products</a>
  <a routerLink="/location-times" routerLinkActive="active" (click)="toggleMenu()">Stores</a>
  <a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Socials</a>
  <a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">FAQ</a>
</ul>

<body>
  <router-outlet></router-outlet>
</body>
