<!-- <h1>PicCho Pty Ltd</h1> -->
<div class="header">
  <img src="assets/media/logo-horizontal.png">
  <nav>
    <ul>
      <a routerLink="/home" routerLinkActive="active" class="importantHeader">Home</a>
      <a routerLink="/our-store" routerLinkActive="active" class="importantHeader">Shop</a>
      <a routerLink="/location-times" routerLinkActive="active" class="collapseShrink">Locations & Times</a>
      <a routerLink="/collaborators" routerLinkActive="active" class="collapseShrink">Collaborators</a>
      <a routerLink="/career" routerLinkActive="active" class="collapseShrink">Career</a>
      <a routerLink="/contact" routerLinkActive="active" class="collapseShrink">Contact</a>
      <a routerLink="/about" routerLinkActive="active" class="collapseShrink">About</a>
    </ul>
  </nav>
  <mat-icon class="menu" (click)="toggleMenu()" class="menu">menu</mat-icon>
  
</div>
<div class="click-background" (click)="toggleMenu()" *ngIf="isMenuOpen" @fadeInOut></div>
<ul class="menu-item" [@slideAnimation] = "menuState">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/our-store" routerLinkActive="active">Our Store</a>
  <a routerLink="/location-times" routerLinkActive="active">Locations & Times</a>
  <a routerLink="/collaborators" routerLinkActive="active">Collaborators</a>
  <a routerLink="/career" routerLinkActive="active">Career</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
</ul>

<body>
  <router-outlet></router-outlet>
</body>
