<div class="container">
    <div class="group one">
        <div class="text-container">
            <p class="main"><b>Specifically for you</b></p>
            <p>Sometimes the album you are looking for is not at our store. But if you pre-order 
                your desired album, we will be able to get it to you in our next shipment!
                Fill out our quick form and let us know what album you want.
            </p>
            
        </div>
        <img src="/assets/media/guide/1.png">
        
    </div>
    <div class="group two">
        <img src="/assets/media/guide/1.png">
        <div class="text-container">
            <p class="main"><b>Quality Service</b></p>
            <p>Not only are you guaranteed quality service with us, but the lowest prices.
                Unlike other services, we do not charge you for any shipping - let us take care of that.
            </p>
        </div>
        
    </div>

    <div class="text-container pre-order">
        <p class="main"><b>Pre-Order your album now</b></p>
    </div>
</div>
